  h1, h6 {
            text-align: center;
           font-family: 'Lato', sans-serif;
        }

        h2 {
            text-decoration: bold;
            text-align: center;
            font-size: 2vmin;
        }

        img {
            width: 400px;
            height: 500px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        table {
/*	        padding: 10em;
*/            width: 100%;
            border-collapse: collapse;
            border: 1px solid white;
 
        }

        td, th { 
/*            padding-right: 10px;
*/    /*        padding-left: 10px;*/
            border: 1px solid white; 
            text-align: left;
       
        }

        .atomweight {
            text-align: right;
        }

        .alkali-metal {
            background-color: #9699ff;
        }

        .noble-gas {
            background-color: #7accc1;
        }

        .alkaline-earth {
            background-color: #7bd657;
        }

        .metalloid {
            background-color: #c6c6b8;
        }

        .polyatomic {
            background-color: #ad6e8d;
        }

        .diatomic {
            background-color: #7d18e2;
        }

        .post-transition {
            background-color: #59c9f9;
        }

        .transition {
            background-color: #f97159;
        }

        .lanthanide {
            background-color: #bc7c21;
        }

        .unknown {
            background-color: #7a7a7a;
        }

        .actinide {
            background-color: #ff0000;
        }

        .number, .atomweight {
            font-size: 1vw;
        }